footer {
	max-width: 100%;
	background-color: #fff;

	.footer-menu {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 28px 0;
		border-bottom: 1px solid $brown-15;

		a img.logo {
			width: 264.715px;
			height: 36.189px;
		}

		nav {
			display: flex;
			justify-content: space-between;
			width: 50%;

			ul {
				gap: 32px;
				margin-top: 6px;

				a {
					display: flex;
					justify-content: center;
					font: 400 18px/140% 'Lato', sans-serif;
					color: #3a210b;

					&:hover {
						font-weight: 700;
					}
				}

				.router-link-exact-active {
					font-weight: 700;
					color: $brown-dark;
				}
			}

			.medias {
				display: flex;
				align-items: center;
				gap: 21px;
				margin-top: 6px;
				margin-left: 32px;
			}
		}
	}

	.copyright {
		text-align: center;
		font: 400 14px/19px 'Inter', sans-serif;
		color: rgba(2, 14, 31, 0.69);
		padding: 12px 0;

		span {
			font-weight: 700;
		}
	}
}

@media (min-width: 658px) and (max-width: 946.98px) {
	footer .footer-menu {
		grid-template-columns: 1fr;
		gap: 16px;
		padding-bottom: 16px;

		nav {
			width: 100%;
			padding-top: 16px;
			border-top: 1px solid $brown-15;
			justify-content: center;
			position: relative;

			ul {
				margin-top: 0;
			}

			.medias {
				right: 0;
				position: absolute;
				bottom: 64px;
			}
		}
	}
}