$neutral-bg: #FAF3F2;
$neutral-font: #FAE4D0;
$yellow: #F59A1B;
$yellow-light: #FFBA08;
$red: #F43127;
$red-light: #F00;
$brown-light: #635352;
$brown: #3B200B;
$brown-hover: #34201F;
$brown-90: rgba(29, 6, 5, 0.9);
$brown-69: rgba(29, 6, 5, 0.69);
